.container {
  background-color: white;
  outline: black;
  width: 560px;
  height: 560px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color {
  background-color: lightskyblue;
}

.grid-generation {
  margin: 10px;
}

.row {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  margin: 0;
  padding: 0;
}

.square {
  border: solid 1px;
  border-color: rgba(58, 194, 133, 0.386);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 100%;
}
