.container {
    border: solid 1px;
    border-color: black;
    width: 560px;
    height: 560px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    /* justify-content: flex-start;
    align-items: flex-start; */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}